<!-- templates/AidSearch/scholarships.html -->
{% extends "AidSearch/index.html" %}
{% load static %}

{% block content %}
<main class="container">
    <h2>Resources</h2>
    <div class="resources-container">
        <div class="resource-box">
            <a href="https://studentaid.gov/apply-for-aid/fafsa/filling-out/help" target="_blank">
                <img src="{% static 'AidSearch/img/thumb.jpeg' %}" alt="Resource 1 Thumbnail">
                <p>FAFSA Help </p>
            </a>
        </div>
        <div class="resource-box">
            <a href="https://www.gafutures.org/" target="_blank">
                <img src="{% static 'AidSearch/img/thumb2.jpeg' %}" alt="Resource 2 Thumbnail">
                <p>Georgia Futures </p>
            </a>
        </div>
        <div class="resource-box">
            <a href="https://bigfuture.collegeboard.org/pay-for-college/get-help-paying-for-college/what-is-financial-aid-faqs" target="_blank">
                <img src="{% static 'AidSearch/img/thumb3.jpg' %}" alt="Resource 2 Thumbnail">
                <p>Financial Aid FAQ </p>
            </a>
        </div>
        <!-- Add more resource boxes as needed -->
    </div>
</main>
{% endblock %}
