<!-- templates/AidSearch/scholarships.html -->
{% extends "AidSearch/index.html" %}

{% block content %}
<main class="container">
    <h1>Saved Scholarships</h1>
    <div class="scholarships-container">
        <div class="scholarship-info-box">
            <h4>Scholarship Title #1</h4>
            <p>Short description or details about the scholarship #1.</p>
        </div>
        <div class="scholarship-info-box">
            <h4>Scholarship Title #2</h4>
            <p>Short description or details about the scholarship #2.</p>
        </div>
        <div class="scholarship-info-box">
            <h4>Scholarship Title #3</h4>
            <p>Short description or details about the scholarship #3.</p>
        </div>
        <!-- Add more scholarship-info-box divs as needed -->
    </div>
</main>
{% endblock %}
